{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans notre agence{% endblock %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1>Agence ImmoIpsum</h1>
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci asperiores aspernatur, assumenda
            autem
            doloremque earum eius eligendi labore minus necessitatibus obcaecati officiis optio quisquam sapiente
            vero
            voluptate voluptatem. Explicabo?
        </p>
    </div>
    <header class="container text-center mt-3">
        <h2>Les derniers biens</h2>
        {% include 'partials/_cards.html.twig' %}
    </header>
{% endblock %}
