{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <header class="container mt-3">
        <h1>Tous nos biens</h1>
        {% include 'partials/_cards.html.twig' %}
    </header>
{% endblock %}
