{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <header class="container mt-3">
        <h1>Tous nos biens</h1>
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci asperiores aspernatur, assumenda
            autem
            doloremque earum eius eligendi labore minus necessitatibus obcaecati officiis optio quisquam sapiente
            vero
            voluptate voluptatem. Explicabo?
        </p>
    </header>
{% endblock %}
